<form *ngIf="ingresso" name="deleteForm" (ngSubmit)="confirmDelete(ingresso.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="ingressoDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirme a exclusão</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-ingresso-heading" jhiTranslate="pescpagApp.ingresso.delete.question" [translateValues]="{ id: ingresso.id }">
      Tem certeza de que deseja excluir Ingresso {{ ingresso.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
    </button>

    <button id="jhi-confirm-delete-ingresso" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Excluir</span>
    </button>
  </div>
</form>
