<div>
  <h2 id="page-heading" data-cy="IngressoHeading">
    <span jhiTranslate="pescpagApp.ingresso.home.title">Ingressos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pescpagApp.ingresso.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ingresso"
        [routerLink]="['/ingresso/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pescpagApp.ingresso.home.createLabel"> Criar novo Ingresso </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ingressos?.length === 0">
    <span jhiTranslate="pescpagApp.ingresso.home.notFound">Nenhum Ingresso encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ingressos && ingressos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dia">
            <div class="d-flex">
              <span jhiTranslate="pescpagApp.ingresso.dia">Dia</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valor">
            <div class="d-flex">
              <span jhiTranslate="pescpagApp.ingresso.valor">Valor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="horaSaida">
            <div class="d-flex">
              <span jhiTranslate="pescpagApp.ingresso.horaSaida">Hora Saida</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="horaEntrada">
            <div class="d-flex">
              <span jhiTranslate="pescpagApp.ingresso.horaEntrada">Hora Entrada</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pessoa.nome">
            <div class="d-flex">
              <span jhiTranslate="pescpagApp.ingresso.pessoa">Pessoa</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingresso of ingressos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ingresso', ingresso.id, 'view']">{{ ingresso.id }}</a>
          </td>
          <td>{{ ingresso.dia | formatMediumDate }}</td>
          <td>{{ ingresso.valor }}</td>
          <td>{{ ingresso.horaSaida | formatMediumDatetime }}</td>
          <td>{{ ingresso.horaEntrada | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="ingresso.pessoa">
              <a [routerLink]="['/pessoa', ingresso.pessoa.id, 'view']">{{ ingresso.pessoa.nome }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ingresso', ingresso.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ingresso', ingresso.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(ingresso)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
