<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ingresso">
      <h2 data-cy="ingressoDetailsHeading"><span jhiTranslate="pescpagApp.ingresso.detail.title">Ingresso</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ ingresso.id }}</span>
        </dd>
        <dt><span jhiTranslate="pescpagApp.ingresso.dia">Dia</span></dt>
        <dd>
          <span>{{ ingresso.dia | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pescpagApp.ingresso.valor">Valor</span></dt>
        <dd>
          <span>{{ ingresso.valor }}</span>
        </dd>
        <dt><span jhiTranslate="pescpagApp.ingresso.horaSaida">Hora Saida</span></dt>
        <dd>
          <span>{{ ingresso.horaSaida | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="pescpagApp.ingresso.horaEntrada">Hora Entrada</span></dt>
        <dd>
          <span>{{ ingresso.horaEntrada | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="pescpagApp.ingresso.pessoa">Pessoa</span></dt>
        <dd>
          <div *ngIf="ingresso.pessoa">
            <a [routerLink]="['/pessoa', ingresso.pessoa.id, 'view']">{{ ingresso.pessoa.nome }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/ingresso', ingresso.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
