<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ingresso-heading" data-cy="IngressoCreateUpdateHeading" jhiTranslate="pescpagApp.ingresso.home.createOrEditLabel">
        Criar ou editar Ingresso
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pescpagApp.ingresso.dia" for="field_dia">Dia</label>
          <div class="input-group">
            <input
              id="field_dia"
              data-cy="dia"
              type="text"
              class="form-control"
              name="dia"
              ngbDatepicker
              #diaDp="ngbDatepicker"
              formControlName="dia"
            />
            <button type="button" class="btn btn-secondary" (click)="diaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pescpagApp.ingresso.valor" for="field_valor">Valor</label>
          <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor" formControlName="valor" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pescpagApp.ingresso.horaSaida" for="field_horaSaida">Hora Saida</label>
          <div class="d-flex">
            <input
              id="field_horaSaida"
              data-cy="horaSaida"
              type="datetime-local"
              class="form-control"
              name="horaSaida"
              formControlName="horaSaida"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pescpagApp.ingresso.horaEntrada" for="field_horaEntrada">Hora Entrada</label>
          <div class="d-flex">
            <input
              id="field_horaEntrada"
              data-cy="horaEntrada"
              type="datetime-local"
              class="form-control"
              name="horaEntrada"
              formControlName="horaEntrada"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pescpagApp.ingresso.pessoa" for="field_pessoa">Pessoa</label>
          <select
            class="form-control"
            id="field_pessoa"
            data-cy="pessoa"
            name="pessoa"
            formControlName="pessoa"
            [compareWith]="comparePessoa"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="pessoaOption" *ngFor="let pessoaOption of pessoasSharedCollection">{{ pessoaOption.nome }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
