<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pessoa">
      <h2 data-cy="pessoaDetailsHeading"><span jhiTranslate="pescpagApp.pessoa.detail.title">Pessoa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ pessoa.id }}</span>
        </dd>
        <dt><span jhiTranslate="pescpagApp.pessoa.nome">Nome</span></dt>
        <dd>
          <span>{{ pessoa.nome }}</span>
        </dd>
        <dt><span jhiTranslate="pescpagApp.pessoa.cpf">Cpf</span></dt>
        <dd>
          <span>{{ pessoa.cpf }}</span>
        </dd>
        <dt><span jhiTranslate="pescpagApp.pessoa.telefone">Telefone</span></dt>
        <dd>
          <span>{{ pessoa.telefone }}</span>
        </dd>
        <dt><span jhiTranslate="pescpagApp.pessoa.carro">Carro</span></dt>
        <dd>
          <span>{{ pessoa.carro }}</span>
        </dd>
        <dt><span jhiTranslate="pescpagApp.pessoa.idade">Idade</span></dt>
        <dd>
          <span>{{ pessoa.idade }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/pessoa', pessoa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
